.city-weather-widget{
  display: inline-block;
  padding: 20px;
  margin: 20px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  border-radius: 5px;
}

.sub-params{
  text-align: center;
  display: inline-block;
  background-color: #f7fafc;
  margin: 5px;
  padding: 10px 24px;
  border-radius: 5px;
  .name{
    margin: 10px;
    font-size: 14px;
  }
  .value{
    margin: 10px;
    font-size: 25px;
  }
}

p.temperature{
  font-size: 40px;
  text-align: center;
  margin: 20px 0;
}

h3.city-name{
  color:#4e91ad;
}
