<div class="city-weather-widget">
  <h3 class="city-name">{{cityName}}</h3>
  <p class="temperature">{{temperature}}</p>
  <section>
    <div class="sub-params">
      <p class="name">Wind</p>
      <p class="value">{{wind}}</p>
    </div>
    <div class="sub-params">
      <p class="name">Pressure</p>
      <p class="value">{{pressure}} m/s</p>
    </div>
    <div class="sub-params">
      <p class="name">Precip.</p>
      <p class="value">{{precipitation}}%</p>
    </div>
  </section>
</div>
