*{
  color: white;
}

#header {
  box-sizing: border-box;
  background: #279;
  padding: 10px 15px;
  display: table;
  width: 100%;
  height: 70px;
}

.logo {
    text-align: center;
    width: 70px;
    color: #white;
    font-size: 25px;
}

.logo,
.menu {
  vertical-align: middle;
  display: table-cell;
  ul {
    text-align: center;
    li {
      padding: 10px;
      display: inline-block;
      vertical-align: top;
      a{
         text-decoration: none;
         font-size: 15px;
      }
    }
  }
}
