<header id="header">
  <div class="logo">Logo</div>
  <nav class="menu">
    <ul>
      <li><a href="#">Some Link 1</a></li>
      <li><a href="#">Some Link 2</a></li>
      <li><a href="#">Some Link 3</a></li>
    </ul>
  </nav>
</header>
<app-country-selector></app-country-selector>
