<div class='selector-block'>
  <select name="select-country" class="country-selector" (change)="onChange($event.target.value)">
    <option value="" selected disabled hidden>Select country:</option>
    <option *ngFor="let country of countrties" [selected]="country.url == active_country_url" [value]="country.url">{{country.name}}</option>
  </select>
</div>
